
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');

h1{
    color: rgb(223, 40, 40);
    text-align: center;
    font-size: 100px;
    font-family: "Manufacturing Consent", system-ui;
}

.col-1 {width: 8.333333%;}
.col-2 {width: 16.666666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333333%;}
.col-5 {width: 41.666666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333333%;}
.col-8 {width: 66.666666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333333%;}
.col-11 {width:91.666666%;}
.col-12 {width: 100%;}


nav a{
    color: black;
    font-family: "Manufacturing Consent", system-ui;
}


li{
    display: flex;
    justify-content:space-around;
}

nav{
    background-color: rgb(223, 40, 40);
    font-size: 60px;
}


/*Application de la police ainsi que Création de container*/
.container{
    width: 100%;
    margin: 0 auto;
}
/*Création d'une disposition en ligne*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    background-image: url("../img/img\ fond\ horreur.webp");
    height: 700px;
    
}

.test{
    display: flex;
    justify-content: center;
}


/*Met le fond en noir  et met le texte en blanc*/
.catalogue{
    background: black;
    color: white;
}
/*Ajuste le contenu au centre*/
}
/*Créée une marge en dessous du contenu de 10 px*/
.margin-bottom{
    margin-bottom: 10px;
}
.list{
    display:flex;
    flex-direction: column;
}
.img-catalogue-pair{
    display: flex;
    justify-content: flex-end;
}
.img-catalogue-impair{
    display: flex;
    justify-content: flex-start;
}
.text-size{
    font-size: 20px;
}
.margin-x{
    margin: 0 20px;
}


.displaycenter{
    display: flex;
    justify-content: space-evenly;
}

.footer{
    padding-bottom: 20px;
}


main{
    background-image: url("../img/foret\ rouge.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
}

.blanc{
    color: rgb(173, 153, 153);
    text-align: center;
    font-size: 50px;
}

p{
    font-size: 25px;
 
}

.center{
    display: flex;
    align-content: center;
    justify-content: center;
}



